.carousel-item img {
    height: 500px;
}

.card-link {
    text-decoration: none;
    font-size: 15px;
}

.main-card {
    border-bottom: 1px solid rgb(172, 170, 170);
}

.boder-nav {
    /* border-top: 2px solid #0d6efd; */
    border-bottom: 1px solid #0d6efd;
}

.h4-text {
    background-color: #9bf00b;
    padding: 4px;
    font-size: 16px;
}

.Brad-Smith {
    height: 350px;
}

.social-icons {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 4%;
}

.free-image {
    height: 250px;
}

.top-paid-image {
    height: 150px;
}

.top-paid-card {
    max-height: 150px;
}

.top-paid-game-a-tag {
    text-decoration: none;
}

.main-container {
    background-color: rgb(235, 230, 230);
}

.best-rated-sub-container {
    height: 500px;
}